.center-row-9 {
  margin: 0 12.5%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.cell {
    padding: 0px;
    margin: 0px;
    border: 1px solid;
}

.num-input {
    width: 100%;
    text-align: center;
    border-width: 0px;
}