/*References
 * https://stackoverflow.com/questions/19697033/styling-a-sudoku-grid/19699482#19699482
 * https://jsfiddle.net/MrPolywhirl/Lrgw7eLL/
*/
table.sudoku {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}
.sudoku tr:nth-of-type(3n) {
    border-bottom: solid medium;
}
.sudoku td:nth-of-type(3n) {
    border-right: solid medium;
}
.sudoku tr:first-of-type {
	border-top: solid medium;
}
.sudoku td:first-of-type {
    border-left: solid medium;
}
.sudoku td {
    border: solid thin;
    /* height: 2em;
    width: 2em; */
    text-align: center;
    padding: 0;
}
input {
	/* border: solid thin; */
	height: 2em;
    width: 2em;
    text-align: center;
    border-width: 0px;
    padding: 0;
}

table[class^="sudoku"] {
  margin: 0 auto;
}

.improper {
	text-decoration: underline;
	animation:  alertUser 2s ease-in-out 0s 1;
}

@keyframes alertUser {
	0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*
* TODO: See if GPU could be used for progress bar
*/
.use-gpu {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}